body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#eef4ff;
    background: linear-gradient(-45deg,#4facfe,#00f2fe,#6a11cb,#2575fc);
background-size:400% 400%;
animation:bg 10s ease infinite;
}

nav{
    background:#0f172a;
    padding:15px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-size:18px;
}

.hero{
    text-align:center;
    padding:80px;
    background:linear-gradient(to right,#4facfe,#00f2fe);
    color:white;
}

button{
    padding:10px 20px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

section{
    background:white;
    margin:20px;
    padding:20px;
    border-radius:10px;
}

.card{
    display:inline-block;
    width:250px;
    padding:20px;
    margin:15px;
    background:white;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
    vertical-align:top;
}


.card:hover{
    transform:scale(1.1);
    transition:0.3s;
}

footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:15px;
}

@keyframes bg{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

.dark{
    background:black;
    color:white;
}

nav{
    position: sticky;
    top: 0;
    z-index: 100;
}

html{
    scroll-behavior: smooth;
}

.card{
    display:inline-block;
    width:250px;
    padding:20px;
    margin:15px;
    background:white;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.dark{
    background:#111;
    color:white;
}

.dark section{
    background:#222;
    color:white;
}

@media(max-width:768px){

    nav a{
        display:block;
        margin:10px;
    }

    .card{
        width:90%;
    }

    .hero{
        padding:40px;
    }
}

.bar{
    width:100%;
    background:#ddd;
    border-radius:20px;
}

.html{
    width:80%;
    height:20px;
    background:green;
    border-radius:20px;
}

.css{
    width:70%;
    height:20px;
    background:blue;
    border-radius:20px;
}

.c{
    width:40%;
    height:20px;
    background:orange;
    border-radius:20px;
}
